In this assignment you will practice to train and test SVM models.

1) Use the new dataset SST - check the accompnying README for more details

2) Provide a description of the training data using descriptive statistics: how many messages are in the data? how many values for the labels? what is the distributions of the messages in the classes? what is the average number of tokens per message?


3) Using FeatureUnion() and Pipeline(), develop 3 different classifier using as target classes the values for the coarse-grained labels. You can combine different features (word and character ngrams) and using different vectorisation methods (Tfidf or Count). Test your Linear SVMs against the validation/development data of SST. Select the one with best scores and apply it to the SST test data

4) Apply your model to the DH_CollectingData2022_review.tsv. What is your performance? 

5) Save your best model using pickle. 


NOTE: if you have problems in running the model on your machine, use Google Colab.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.pipeline import Pipeline, FeatureUnion
from nltk.corpus import stopwords
import pickle
import nltk
from sklearn.model_selection import KFold,cross_val_score,train_test_split,cross_val_predict

# 1) Exploratory Data Analysis

In [104]:
df_train = pd.read_csv('C:/Users/alexa/OneDrive/Documenten/trial.csv')

In [105]:
df = df_train.groupby('Label').get_group('NONE')

In [110]:
df

,Unnamed: 0,Filename,Label,Sentence
1,1,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,"""(20G00035) In force on: 04-14-2022 THE PRESID..."
6,6,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,Persons with motor disabilities or with autism...
7,7,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,hh-bis) obligation to always have respiratory ...
11,11,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,"March 17, 2020 - n. 18 converted with amendmen..."
13,13,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,Art.
...,...,...,...,...
2377,2377,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,FINANCIAL POLICY: GUARANTEES,CERSA will inform the Ministry of Economic Aff...
2380,2380,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,NONE,State Aid State Aid.
2381,2381,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,NONE,The line is subject to the regulations on Stat...
2383,2383,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,FINANCIAL POLICY: GUARANTEES,The limits authorized in annex II of the Agree...
2385,2385,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS,ICO may contract or extend existing contracts ...

In [112]:
df = df.head(700)

In [116]:
df = pd.concat([df_train, df, df]).drop_duplicates(keep=False)

In [117]:
df

,Unnamed: 0,Filename,Label,Sentence
1,1,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,"""(20G00035) In force on: 04-14-2022 THE PRESID..."
6,6,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,Persons with motor disabilities or with autism...
7,7,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,hh-bis) obligation to always have respiratory ...
11,11,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,"March 17, 2020 - n. 18 converted with amendmen..."
13,13,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,Art.
...,...,...,...,...
1379,1379,022_ES_2020-05-01a_2022-05-07_18:22:46.0.txt,EMPLOYMENT POLICY,c) Having ceased involuntarily - as of March 1...
1380,1380,022_ES_2020-05-01a_2022-05-07_18:22:46.0.txt,EMPLOYMENT POLICY,'d) Not being self-employed or employed full-t...
1382,1382,022_ES_2020-05-01a_2022-05-07_18:22:46.0.txt,EMPLOYMENT POLICY,In the event that the worker meets the aforeme...
1384,1384,022_ES_2020-05-01a_2022-05-07_18:22:46.0.txt,NONE,"In the face of the denial resolution, a prior ..."
1385,1385,022_ES_2020-05-01a_2022-05-07_18:22:46.0.txt,NONE,Third.

In [ ]:
grouped.get_group(['name1', 'name2'])

In [115]:
df_train

,Unnamed: 0,Filename,Label,Sentence
0,0,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,DECREE-LAW 25 March 2020 - n. 19 Urgent measur...
1,1,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,"""(20G00035) In force on: 04-14-2022 THE PRESID..."
2,2,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,1 Urgent measures to avoid the spread of COVID...
3,3,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,To contain and combat the health risks derivin...
4,4,008_IT_2020-03-25_2022-05-13_14:45:34.4.txt,NONE,2.
...,...,...,...,...
2381,2381,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,NONE,The line is subject to the regulations on Stat...
2382,2382,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,NONE,ANNEX IV First.
2383,2383,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,FINANCIAL POLICY: GUARANTEES,The limits authorized in annex II of the Agree...
2384,2384,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,NONE,Second.
2385,2385,024_ES_2020-05-06_2022-05-07_11:58:27.8.txt,FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS,ICO may contract or extend existing contracts ...

In [91]:
df_train = df.sample(1186)

In [92]:
df_training = df_train.head(900)

In [93]:
df_dev = df

In [94]:
len(df_training)

900

In [39]:
df_training['Label'].value_counts()

NONE                                             1341
FINANCIAL POLICY: DIRECT PAYMENTS                 127
FINANCIAL POLICY: GUARANTEES                      114
EMPLOYMENT POLICY                                  87
FISCAL POLICY                                      79
SOCIAL WELFARE POLICY                              47
FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS      45
CONSUMER PROTECTION                                23
PRICE CONTROL                                      19
INDUSTRIAL POLICY                                   4
Name: Label, dtype: int64

In [9]:
kfold = KFold(n_splits = 10, shuffle = True, random_state = 100)

In [10]:
for train, test in kfold.split(df_train):
    print(test)

[  27   28   29   31   63   65   71   75  103  114  124  134  141  147
  171  176  182  190  203  221  225  231  232  238  258  264  269  270
  275  290  309  320  343  376  382  399  411  425  426  435  450  472
  480  483  500  503  510  511  515  540  568  582  583  585  599  613
  627  631  632  644  654  657  661  669  682  686  687  696  710  718
  739  751  774  792  801  830  836  858  859  860  864  873  885  887
  900  904  931  939  946  957  960  962  967  968  984  993  996 1011
 1020 1042 1043 1049 1055 1058 1059 1073 1083 1089 1104 1119 1121 1125
 1146 1153 1166 1180 1186 1191 1193 1198 1199 1216 1230 1272 1279 1280
 1309 1313 1324 1327 1332 1335 1352 1361 1363 1366 1396 1398 1423 1428
 1446 1447 1460 1462 1466 1492 1497 1514 1515 1527 1539 1545 1551 1570
 1596 1622 1633 1645 1687 1713 1717 1730 1731 1736 1737 1740 1748 1759
 1784 1789 1800 1805 1812 1816 1823 1825 1828 1832 1834 1866 1869 1873
 1874 1906 1911 1956 1957 1970 1973 1975 1986 1989 1991 2007 2010 2018
 2027 2039 2046 2047 2048 2061 2068 2073 2107 2115 2125 2138 2142 2157
 2162 2165 2170 2192 2195 2201 2211 2217 2223 2238 2254 2256 2269 2271
 2274 2275 2276 2277 2284 2289 2299 2306]
[  23   30   44   48   54   57   84  106  107  118  152  168  173  177
  189  208  223  244  247  249  250  257  259  277  289  301  316  322
  331  336  341  342  345  353  355  356  362  368  371  384  385  403
  405  408  415  416  423  433  438  440  459  463  474  487  490  493
  526  533  534  536  548  552  561  569  571  589  591  595  610  616
  624  642  646  648  652  704  708  723  725  729  730  733  742  747
  771  785  789  837  841  842  843  880  881  891  899  901  903  912
  913  917  932  943  950  973  977  980  999 1006 1013 1022 1023 1047
 1064 1067 1086 1087 1092 1107 1111 1122 1126 1131 1135 1140 1160 1162
 1181 1185 1197 1205 1225 1246 1249 1254 1260 1266 1267 1276 1277 1292
 1297 1304 1308 1330 1342 1348 1356 1360 1364 1372 1384 1394 1400 1406
 1417 1424 1442 1453 1479 1485 1576 1582 1590 1598 1606 1631 1637 1660
 1662 1677 1692 1697 1709 1729 1733 1742 1743 1752 1754 1763 1770 1781
 1809 1841 1870 1891 1915 1916 1928 1934 1937 1943 1945 1960 1963 1964
 1971 1997 1999 2001 2004 2005 2029 2043 2053 2056 2057 2058 2077 2080
 2083 2085 2093 2095 2105 2108 2121 2129 2130 2155 2159 2161 2168 2174
 2175 2196 2210 2235 2270 2278 2280 2281]
[   4   10   12   19   51   56   66   85   90   91   97  102  105  110
  111  116  137  138  139  143  149  153  159  165  170  183  185  191
  193  198  201  204  205  207  228  229  241  256  268  287  302  310
  317  321  326  344  354  361  367  372  381  386  389  402  427  447
  452  494  497  519  531  538  545  549  551  555  560  565  606  625
  629  636  638  647  656  663  670  679  685  688  699  701  706  709
  726  731  737  740  741  746  752  753  755  772  784  786  811  815
  821  823  851  853  883  886  888  898  914  927  930  936  940  958
  965  970  983  995 1005 1007 1012 1017 1025 1026 1036 1046 1048 1050
 1052 1053 1054 1065 1088 1105 1117 1136 1142 1156 1187 1207 1224 1247
 1283 1291 1293 1299 1371 1378 1389 1390 1414 1419 1426 1440 1441 1444
 1449 1451 1455 1469 1480 1529 1530 1532 1538 1541 1553 1556 1558 1560
 1577 1604 1612 1620 1629 1634 1642 1644 1654 1676 1689 1694 1702 1707
 1711 1720 1745 1750 1756 1773 1779 1783 1790 1806 1808 1824 1856 1862
 1909 1920 1953 1962 1966 1967 1982 1985 2011 2020 2025 2030 2033 2079
 2090 2102 2117 2123 2133 2148 2167 2189 2199 2214 2216 2219 2225 2229
 2232 2234 2243 2279 2294 2296 2297 2298]
[   8    9   16   22   40   42   45   47   49   64   67   69   95   96
  101  121  146  154  164  169  174  188  209  216  237  261  265  267
  272  285  291  298  299  308  329  330  334  339  347  349  363  365
  374  380  391  395  396  401  413  414  432  442  479  482  492  499
  509  521  528  529  532  542  546  562  567  573  581  584  586  588
  592  602  626  630  641  650  671  683  697  711  712  724  728  762
  766  767  773  775  781  790  791  798  805  807  816  819  825  834
  838  863  906  919  920  924  925  935  941  945  947  951  954  971
  981 1016 1044 1076 1080 1115 1129 1143 1147 1149 1158 1165 1169 1174
 1176 1184 1208 1231 1238 1240 1262 1264 1265 1270 1294 1312 1322 1325
 1329 1338 1344 1345 1369 1375 1377 1381 1382 1399 1402 1407 1421 1429
 1432 1465 1473 1483 1494 1500 1505 1511 1516 1520 1523 1536 1547 1554
 1567 1568 1574 1575 1603 1610 1611 1617 1626 1630 1649 1655 1664 1666
 1685 1696 1708 1724 1739 1744 1762 1766 1802 1811 1818 1833 1840 1844
 1854 1855 1863 1884 1904 1917 1965 1995 2012 2014 2019 2042 2050 2065
 2066 2067 2071 2118 2135 2145 2154 2164 2173 2180 2187 2188 2193 2202
 2221 2227 2231 2248 2252 2268 2292 2312]
[  24   36   41   43   78   80   82   88   92  104  108  117  133  142
  157  178  195  200  202  210  222  263  288  312  315  318  328  370
  373  377  390  398  420  431  434  436  464  466  475  489  501  508
  517  525  530  537  554  559  570  590  593  608  611  614  622  635
  667  675  691  702  714  717  719  721  734  738  764  777  779  808
  814  822  827  832  835  845  852  868  874  875  905  916  933  944
  948  949  969  972  976  988 1001 1004 1010 1021 1029 1039 1068 1069
 1070 1072 1085 1097 1112 1127 1128 1132 1133 1134 1139 1148 1151 1157
 1161 1167 1188 1211 1212 1219 1222 1228 1229 1237 1243 1252 1263 1273
 1286 1306 1314 1318 1323 1351 1370 1380 1383 1404 1408 1418 1434 1436
 1439 1452 1456 1471 1495 1506 1508 1512 1517 1521 1535 1580 1584 1586
 1587 1592 1639 1651 1653 1658 1661 1693 1700 1706 1710 1718 1723 1732
 1735 1741 1746 1749 1753 1755 1775 1778 1792 1794 1795 1798 1804 1815
 1819 1831 1849 1851 1857 1875 1881 1888 1897 1898 1902 1913 1931 1935
 1940 1944 1946 1948 1952 1974 2009 2015 2034 2049 2052 2060 2062 2070
 2074 2075 2076 2091 2104 2131 2140 2153 2178 2182 2184 2218 2228 2244
 2245 2249 2264 2267 2302 2307 2309]
[  25   32   50   60   61   68   72   74   81  122  125  126  136  155
  156  160  163  166  167  179  192  196  213  218  219  220  224  239
  254  266  279  286  296  306  314  325  360  387  404  417  424  430
  444  445  454  457  461  467  504  516  520  522  527  557  558  574
  576  577  580  619  621  637  645  680  692  695  713  722  732  757
  769  770  820  824  856  857  865  869  876  877  882  890  892  893
  896  902  908  910  911  929  953  964  975  979  982  991 1003 1014
 1024 1027 1030 1035 1056 1060 1063 1075 1078 1093 1109 1130 1138 1159
 1168 1170 1171 1173 1179 1182 1192 1202 1213 1215 1220 1223 1235 1241
 1245 1251 1257 1268 1271 1282 1284 1290 1301 1302 1339 1349 1354 1359
 1365 1387 1410 1431 1461 1463 1472 1487 1498 1503 1524 1533 1534 1542
 1557 1561 1565 1566 1588 1614 1616 1623 1625 1638 1663 1668 1684 1699
 1704 1714 1725 1757 1761 1780 1785 1786 1801 1820 1826 1846 1850 1861
 1878 1879 1886 1893 1901 1919 1927 1936 1947 1958 1976 1977 1978 1994
 1996 2032 2041 2081 2088 2092 2101 2112 2124 2126 2127 2141 2146 2149
 2171 2176 2177 2179 2183 2185 2212 2213 2224 2230 2250 2251 2253 2259
 2263 2286 2288 2295 2301 2308 2313]
[  33   39   46   52   73   76   98   99  100  109  123  132  175  180
  181  184  197  206  217  227  233  235  240  253  255  271  281  282
  294  307  311  335  359  366  378  388  406  412  422  448  449  460
  462  484  512  535  547  553  566  572  587  596  601  609  615  620
  634  639  664  665  672  673  684  689  703  707  715  716  727  756
  760  776  780  797  800  810  844  848  850  861  871  907  921  922
  928  955  956  963  985  986  989 1002 1015 1031 1034 1037 1041 1045
 1096 1098 1110 1124 1141 1144 1177 1183 1190 1195 1221 1226 1242 1250
 1253 1255 1258 1259 1287 1288 1289 1295 1296 1300 1303 1311 1326 1337
 1346 1353 1355 1386 1388 1391 1405 1416 1437 1448 1467 1474 1478 1482
 1486 1490 1491 1504 1507 1513 1526 1528 1546 1552 1555 1562 1563 1573
 1591 1601 1615 1632 1636 1647 1656 1665 1669 1674 1688 1690 1695 1698
 1705 1727 1728 1734 1769 1771 1772 1782 1803 1807 1830 1847 1860 1864
 1876 1877 1880 1887 1895 1925 1938 1942 1954 1984 1987 2000 2006 2013
 2017 2021 2026 2035 2038 2044 2054 2055 2063 2064 2096 2100 2106 2109
 2114 2132 2139 2156 2160 2181 2190 2197 2203 2205 2207 2222 2226 2246
 2257 2258 2262 2291 2293 2304 2311]
[   3   15   26   58   59   89   93   94  112  115  127  128  130  140
  150  151  161  162  211  236  245  246  248  252  260  276  278  293
  295  297  305  319  323  327  337  338  351  358  379  383  392  393
  418  428  443  453  455  458  471  476  496  518  523  524  541  543
  564  578  579  600  605  607  623  640  651  662  666  677  681  693
  743  744  745  793  795  799  812  828  831  840  846  847  878  884
  894  895  923  934  959  961  966  978  987  992 1033 1051 1061 1062
 1066 1077 1079 1082 1084 1099 1102 1103 1123 1137 1150 1164 1172 1175
 1178 1196 1204 1217 1218 1227 1232 1248 1261 1275 1278 1298 1305 1310
 1331 1333 1334 1336 1341 1350 1358 1395 1397 1401 1403 1411 1415 1420
 1443 1454 1457 1468 1470 1481 1489 1499 1518 1525 1537 1571 1572 1581
 1589 1593 1594 1599 1600 1605 1607 1618 1621 1640 1641 1672 1675 1678
 1683 1686 1715 1721 1726 1764 1767 1774 1776 1777 1788 1793 1796 1827
 1836 1853 1867 1882 1883 1889 1896 1903 1910 1912 1941 1949 1950 1959
 1969 1980 1983 1988 1993 2008 2016 2022 2028 2037 2078 2089 2098 2099
 2110 2128 2147 2151 2152 2158 2166 2194 2198 2204 2206 2208 2209 2237
 2239 2241 2242 2265 2287 2303 2305]
[   0    1    5    6    7   14   18   20   21   34   35   37   55   62
   70   77   86  113  120  129  158  186  187  194  199  230  242  251
  284  292  300  332  333  340  348  352  369  375  397  400  410  419
  421  441  456  469  470  478  481  485  486  491  498  505  507  513
  539  544  563  575  594  598  603  604  633  649  658  676  678  690
  698  700  720  735  748  749  750  759  761  778  787  794  817  826
  849  854  855  866  867  879  918  926  937  942  952  974  990  997
 1000 1008 1018 1019 1057 1071 1074 1090 1095 1108 1113 1114 1116 1120
 1145 1152 1201 1203 1214 1233 1234 1244 1256 1269 1281 1285 1307 1317
 1319 1321 1343 1347 1357 1362 1367 1374 1376 1379 1409 1412 1430 1433
 1435 1445 1450 1458 1464 1475 1477 1488 1493 1496 1501 1502 1510 1519
 1540 1543 1559 1564 1569 1579 1583 1585 1597 1624 1627 1643 1646 1657
 1659 1670 1671 1680 1703 1712 1716 1722 1765 1787 1791 1799 1810 1837
 1838 1839 1842 1848 1852 1865 1868 1871 1872 1892 1905 1914 1918 1921
 1922 1923 1929 1933 1939 1955 1961 1979 1990 1992 2023 2024 2031 2036
 2051 2069 2072 2094 2103 2119 2120 2136 2144 2163 2169 2172 2200 2233
 2260 2261 2266 2272 2273 2283 2285]
[   2   11   13   17   38   53   79   83   87  119  131  135  144  145
  148  172  212  214  215  226  234  243  262  273  274  280  283  303
  304  313  324  346  350  357  364  394  407  409  429  437  439  446
  451  465  468  473  477  488  495  502  506  514  550  556  597  612
  617  618  628  643  653  655  659  660  668  674  694  705  736  754
  758  763  765  768  782  783  788  796  802  803  804  806  809  813
  818  829  833  839  862  870  872  889  897  909  915  938  994  998
 1009 1028 1032 1038 1040 1081 1091 1094 1100 1101 1106 1118 1154 1155
 1163 1189 1194 1200 1206 1209 1210 1236 1239 1274 1315 1316 1320 1328
 1340 1368 1373 1385 1392 1393 1413 1422 1425 1427 1438 1459 1476 1484
 1509 1522 1531 1544 1548 1549 1550 1578 1595 1602 1608 1609 1613 1619
 1628 1635 1648 1650 1652 1667 1673 1679 1681 1682 1691 1701 1719 1738
 1747 1751 1758 1760 1768 1797 1813 1814 1817 1821 1822 1829 1835 1843
 1845 1858 1859 1885 1890 1894 1899 1900 1907 1908 1924 1926 1930 1932
 1951 1968 1972 1981 1998 2002 2003 2040 2045 2059 2082 2084 2086 2087
 2097 2111 2113 2116 2122 2134 2137 2143 2150 2186 2191 2215 2220 2236
 2240 2247 2255 2282 2290 2300 2310]

# 2) Using FeatureUnion() and Pipeline(), develop 3 different classifiers using as target classes the values for the coarse-grained labels

In [95]:
labels = df_training['Label']

In [96]:
sentences = df_training['Sentence']

In [97]:
sentences_dev = df_dev['Sentence']
labels_dev = df_dev['Label']

classifier 1

In [98]:
vectorizer = FeatureUnion([
    ('tfidf_word', TfidfVectorizer(ngram_range=(1, 2), lowercase=True, strip_accents='unicode', stop_words='english')),
    ('tfidf_word2', TfidfVectorizer(analyzer='word', ngram_range=(1, 5), lowercase=True, strip_accents='unicode', stop_words='english')),
    ('tfidf_char', TfidfVectorizer(analyzer='char', ngram_range=(1, 10), lowercase=True, strip_accents='unicode'))
])

In [99]:
clf = Pipeline([
('vectorize', vectorizer),
('classify',LinearSVC())
])

In [100]:
trained_model_1 = clf.fit(sentences, labels)

In [101]:
test_prediction_1 = trained_model_1.predict(sentences_dev)

In [102]:
print("prediction on trained_model_1 (word trigram + char bi-gram)")
print(classification_report(labels_dev, test_prediction_1))

prediction on trained_model_1 (word trigram + char bi-gram)
                                               precision    recall  f1-score   support

                          CONSUMER PROTECTION       1.00      0.93      0.96        29
                            EMPLOYMENT POLICY       0.92      0.96      0.94       114
            FINANCIAL POLICY: DIRECT PAYMENTS       0.96      0.96      0.96       156
                 FINANCIAL POLICY: GUARANTEES       0.95      0.97      0.96       148
FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS       0.96      0.98      0.97        54
                                FISCAL POLICY       0.95      0.99      0.97       104
                            INDUSTRIAL POLICY       1.00      0.50      0.67         4
                                         NONE       0.97      0.96      0.96       496
                                PRICE CONTROL       1.00      0.96      0.98        25
                        SOCIAL WELFARE POLICY       0.96      0.88      0.92        56

                                     accuracy                           0.96      1186
                                    macro avg       0.97      0.91      0.93      1186
                                 weighted avg       0.96      0.96      0.96      1186

Trained_model_1 has a weighted average F1 score of 0.56

classifier 2

In [34]:
vectorizer = FeatureUnion([
    ('tfidf_word', TfidfVectorizer(stop_words='english')),
    ('tfidf_char', TfidfVectorizer(analyzer='char', ngram_range=(3, 7)))
])

In [35]:
clf = Pipeline([
('vectorize', vectorizer),
('classify',LinearSVC())
])

In [36]:
trained_model_2 = clf.fit(sentences, labels)

In [37]:
test_prediction_2 = trained_model_2.predict(sentences_dev)

In [38]:
print("prediction on trained_model_1 (word unigram + char ngram range 3-7)")
print(classification_report(labels_dev, test_prediction_2))

prediction on trained_model_1 (word unigram + char ngram range 3-7)
                                               precision    recall  f1-score   support

                          CONSUMER PROTECTION       0.50      0.25      0.33         8
                            EMPLOYMENT POLICY       0.83      0.83      0.83        24
            FINANCIAL POLICY: DIRECT PAYMENTS       0.81      0.72      0.76        36
                 FINANCIAL POLICY: GUARANTEES       0.73      0.73      0.73        33
FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS       0.57      0.67      0.62         6
                                FISCAL POLICY       0.84      0.76      0.80        21
                            INDUSTRIAL POLICY       0.00      0.00      0.00         1
                                         NONE       0.89      0.94      0.91       363
                                PRICE CONTROL       1.00      0.50      0.67         8
                        SOCIAL WELFARE POLICY       0.67      0.43      0.52        14

                                     accuracy                           0.86       514
                                    macro avg       0.68      0.58      0.62       514
                                 weighted avg       0.85      0.86      0.85       514

C:\Users\alexa\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\alexa\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\alexa\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Trained_model_2 has a weighted average F1 score of 0.57

Classifier 3

In [39]:
vectorizer = FeatureUnion([
    ('tfidf_word', CountVectorizer(ngram_range=(1, 3))),
    ('tfidf_char', TfidfVectorizer(analyzer='char', ngram_range=(3, 7)))
])

In [40]:
clf = Pipeline([
('vectorize', vectorizer),
('classify',LinearSVC())
])

In [42]:
trained_model_3 = clf.fit(sentences, labels)

C:\Users\alexa\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [43]:
test_prediction_3 = trained_model_3.predict(sentences_dev)

In [44]:
print("prediction on trained_model_1 (word trigram + char ngram range 3-7, exluding stopwords)")
print(classification_report(labels_dev, test_prediction_3))

prediction on trained_model_1 (word trigram + char ngram range 3-7, exluding stopwords)
                                               precision    recall  f1-score   support

                          CONSUMER PROTECTION       1.00      0.12      0.22         8
                            EMPLOYMENT POLICY       0.72      0.75      0.73        24
            FINANCIAL POLICY: DIRECT PAYMENTS       0.78      0.58      0.67        36
                 FINANCIAL POLICY: GUARANTEES       0.78      0.64      0.70        33
FINANCIAL POLICY: RESTRUCTURING OF LOAN TERMS       0.60      0.50      0.55         6
                                FISCAL POLICY       0.84      0.76      0.80        21
                            INDUSTRIAL POLICY       0.00      0.00      0.00         1
                                         NONE       0.87      0.95      0.91       363
                                PRICE CONTROL       1.00      0.75      0.86         8
                        SOCIAL WELFARE POLICY       1.00      0.36      0.53        14

                                     accuracy                           0.85       514
                                    macro avg       0.76      0.54      0.60       514
                                 weighted avg       0.85      0.85      0.84       514

Trained_model_3 has a weighted average F1 score of 0.58

From all the 3 models, trained_model_3 has the highest F1 score therefore performs the best. It is this model that will be applied to the SST test data.

In [239]:
df_test = pd.read_csv('C:/Users/alexa/Downloads/stsa.fine.test.converted.csv')

In [240]:
df_test

,label_fine_grained,label_coarse_grained,sentence
0,1,-1,"no movement , no yuks , not much of anything ."
1,0,-1,"a gob of drivel so sickly sweet , even the eag..."
2,2,0,` how many more voyages can this limping but d...
3,2,0,so relentlessly wholesome it made me want to s...
4,0,-1,"gangs of new york is an unapologetic mess , wh..."
...,...,...,...
2205,1,-1,the problem with concept films is that if the ...
2206,1,-1,"safe conduct , however ambitious and well-inte..."
2207,1,-1,"a film made with as little wit , interest , an..."
2208,2,0,to enjoy this movie 's sharp dialogue and deli...
2209,0,-1,"but here 's the real damn : it is n't funny , ..."

In [241]:
sentences_test = df_test['sentence']
labels_test = df_test['label_coarse_grained']

In [248]:
test_prediction_4 = trained_model_3.predict(sentences_test)

In [250]:
print(classification_report(labels_test, test_prediction_4))

              precision    recall  f1-score   support

          -1       0.65      0.67      0.66       912
           0       0.23      0.13      0.17       389
           1       0.66      0.76      0.70       909

    accuracy                           0.61      2210
   macro avg       0.51      0.52      0.51      2210
weighted avg       0.58      0.61      0.59      2210

The trained_model_3 applied to the SST test data reaches a F1 score of 0.59, similar to the F1 score on the dev data of 0.58, meaning that the model neither seems to overfit nor underfit the data.

# 3) Apply your model to the DH_CollectingData2022_review.tsv. What is your performance?

In [253]:
import csv

In [257]:
df_review = pd.read_csv('C:/Users/alexa/Downloads/DH_CollectingData2022_review.tsv', sep='\t', quoting=csv.QUOTE_NONE, names=['sentence', 'score'])

In [258]:
df_review

                                              sentence  score
0    For Nik, he only wants to silence the cacophon...    0.0
1                            "I can play this two ways    0.0
2    Mild, because it isn't conclusive, and doesn't...   -1.0
3    You can also get some more information about t...    0.0
4    Soon, Hero, who has never had friends, is thru...    0.0
..                                                 ...    ...
385  August is torn by his actions but he absolutel...    0.0
386  Heroine Elise Benton is witty in the present d...    0.0
387               I am glad there will be a part three    1.0
388  Sometimes while they were in a lesson, the wol...    0.0
389                                I remained involved    1.0

[390 rows x 2 columns]

In [275]:
df_review['score'] = pd.to_numeric(df_review['score'], errors='coerce').fillna(0).astype(int)

the lines in the score column were saved as float, with some NA or inf values. To solve this and to convert the values of the score column to int, i ran the line of code above. Source: https://stackoverflow.com/questions/71249167/pandas-errors-intcastingnanerror-cannot-convert-non-finite-values-na-or-inf-t

In [276]:
sentence = df_review['sentence']
score = df_review['score']

In [277]:
final_test = trained_model_3.predict(sentence)
score

0      0
1      0
2     -1
3      0
4      0
      ..
385    0
386    0
387    1
388    0
389    1
Name: score, Length: 390, dtype: int32

In [278]:
print(classification_report(score, final_test))

              precision    recall  f1-score   support

          -1       0.26      0.66      0.38        62
           0       0.37      0.11      0.18       148
           1       0.62      0.66      0.64       180

    accuracy                           0.45       390
   macro avg       0.42      0.48      0.40       390
weighted avg       0.47      0.45      0.42       390

Trained_model_3 gives a weighted avg F1 score of just 0.42 when applied to the review data. This is not a great score. It has an accuracy score of 0.45, meaning that only in 45% of the cases the model predicted the scores correctly. In looking at recall, it may be observed that the model only returned a neutral score in 11% of the cases where the score should be neutral. Recall was far better (66%) on negative and positive scores. Looking at precision, it may be observed that the model only predicted 26% of all reviews labeled negative correctly, compared to 37 percent of neutral and 62% of positive. All in all, the model seems to perform relatively well on the prediction of scores of positive reviews, but needs further refinement to equally do so on neutral and negative reviews.

# 4) Save your best model using pickle.

In [279]:
filename = 'SVM_Model_3.sav'
pickle.dump(trained_model_3, open(filename, 'wb'))